{% extends '::base.html.twig' %}

{% block body %}

    {{ form_start(form,{'attr':{'action':path('ajouter_Etudiant')}}) }}

    <div>
        {{ form_rest(form) }}
    </div>

    {{ form_end(form) }}


{% endblock %}